* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e0e0e0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notification-button button {
  background-color: #0d272d;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.notification-button button:hover {
  background-color: #1d4c57;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  position: absolute;
  top: 100px;
  right: 0px;
  display: none;
}

.hidden {
  display: none;
}

.logo {
  max-width: 50px;
}

.tab-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.tabs {
  margin-top: 120px;
  display: flex;
}

.tab {
  text-align: center;
  width: 450px;
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.tab.active {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #1d4c57;
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  border: 1px solid #000;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.tab-content {
  display: none;
  padding: 10px;
  text-align: left;
}

.tab-content.active {
  display: block;
}

.tab-content {
  animation: fadeEffect 1s;
}


@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.usuario {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 20px;
  background-color: aliceblue;
  width: 300px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  top: 100px;
  left: 10%;
  transform: translateX(-50%);
}

.user-button {
  margin-bottom: 10px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.user-button:hover {
  background-color: #3a77e2;
}

.tarefas {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  margin: 20px;
  background-color: aliceblue;
  width: 300px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  top: 100px;
  right: -5%;
  transform: translateX(-50%);
  align-items: center;
}

.card2 {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  cursor: pointer;
}

.footer-button {
  margin-top: auto;
  background-color: #0d272d;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;

}

.footer-button:hover {
  background-color: #1d4c57;
}