* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
    display: flex;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #808080;
  }
  
  nav {
    max-width: 100%;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .logo {
    max-width: 100px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
  }
  
  .link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #008000;
    transition: all 0.3s ease;
  }
  
  .link a:hover::after {
    width: 70%;
  }
  
  .btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #0d272d;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background-color: #008000;
  }
  
  .container {
    max-width: 100%;
    margin: auto;
    padding: 5rem 2rem;
  }
  
  .blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #008000;
    z-index: -100;
  }
  
  header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;
  }
  
  header .content h4 {
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
  }
  
  header .con h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
  }
  
  header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
  }
  
  header .content p {
    margin-bottom: 2rem;
    color: #fff;
  }
  
  header .imagem {
    position: relative;
  }
  
  header .imagem img {
    max-width: 100%;
    margin: auto;
  }
  
  .login {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    width: 90%;
    max-width: 455px;
    height: 500px;
    padding: 30px;
    color: #000;
    border-radius: 10px;
  }
  
  .login-div form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .login-div input {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    height: 45px;
  }
  
  .login-div img {
    width: 65px;
    height: auto;
  }
  
  input::placeholder {
    color: #000;
    font-size: 14px;
  }
  
  form [type="submit"] {
    display: block;
    background-color: #0d272d;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin: 20px 0;
  }
  
  p {
    color: #000;
  }
  
  a {
    color: #008000;
    text-decoration: none;
    margin: 10px;
  }
  
  /* Estilos para telas menores */
  @media only screen and (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      gap: 1rem;
    }
  
    .link a::after {
      width: 0; /* Removendo a linha de underline ao reduzir a tela */
    }
  
    .btn {
      margin-top: 1rem;
    }
  
    header {
      grid-template-columns: 1fr;
    }
  
    header .imagem img {
      max-width: 100%;
    }
  
    .login-div {
      max-width: 100%;
    }
  }
  