* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
    display: flex;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #808080;
  }
  
  .logo {
    max-width: 100px;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
  }
  
  .blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #008000;
    z-index: -100;
  }
  
  .login {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    width: 90%;
    max-width: 500px;
    padding: 30px;
    color: #000;
    border-radius: 10px;
  }
  
  .login-div form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .login-div input {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    height: 45px;
  }
  
  .login-div img {
    width: 65px;
    height: auto;
  }
  
  input::placeholder {
    color: #000;
    font-size: 14px;
  }
  
  form [type="submit"] {
    display: block;
    background-color: #0d272d;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin: 20px 0;
  }
  
  p {
    color: #000;
  }
  
  a {
    color: #008000;
    text-decoration: none;
    margin: 10px;
  }
  
  /* Estilos para telas menores */
  @media only screen and (max-width: 768px) {
    .login-div {
      width: 100%;
      padding: 20px;
    }
  
    .login-div input {
      margin-top: 10px;
    }
  }