*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #aaaaaa;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #008000;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #0d272d;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #008000;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #008000;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

header .con h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .imagem{
    position: relative;
}

header .imagem img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.sobre{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;    
}

.sobre .card{
    background-color: #0d272d;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.sobre .card:hover{
    background-color: #303030;
    border-color: #fff;
}

.sobre .card span{
    display: inline-block;
    background-color: #008000;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.sobre .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.sobre .card p{
    color: #ccc;
    margin-bottom: 2rem;
}

.sobre .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.sobre .card a:hover{
    color: #008000;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3,1fr);
    gap: 2rem;
}

footer .coluna .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .coluna p{
    color: #ccc;
    margin-bottom: 2rem;
}

footer .coluna .social{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .coluna .social a{
    color: #ccc;
    border: 1pc solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100px;
    transition: all 0.3s ease;
}

footer .coluna .social a:hover{
    color: #fff;
    background-color: #008000;
    border-color: #008000;
}

footer .coluna h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .coluna > a{
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .coluna >a:hover{
    color: #0d272d;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

@media (width < 900px) {
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .imagem{
        grid-area: 1/1/2/2;
    }
    .sobre{
        grid-template-columns: repeat(2,1fr);
    }
    footer{
        grid-template-columns: 1fr 200px;
    }
}

@media (width <600px){
    header .imagem::before{
        display: none;
    }

    .sobre{
        grid-template-columns: repeat(1, 1fr);
    }

    footer{
        grid-template-columns: 1fr 150px;
    }
}